* {
  font-family: "Poppins", sans-serif;
}
.bangla-font {
  font-family: "Hind Siliguri", sans-serif;
}
input {
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
}
input:focus {
  outline: none;
  border: 1px solid skyblue;
}
.selected {
  color: white;
  background-color: #60A5FA;
}
.FAQ{
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 10px;
}
